body{
    background: url("fundo2.webp") no-repeat center/cover;
}

#tabuleiro {
    border-collapse: collapse;
    margin: 20px; 
}

#tabuleiro {
    border-collapse: collapse;
    margin: 20px;
}

#tabuleiro td {
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 2em;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #eee;
}
