body{
    background: url("fundo2.webp") no-repeat center/cover;
}

#tabuleiro {
    border-collapse: collapse;
    margin: 20px; /* Adicionado um pouco de margem ao redor da tabela */
}

#tabuleiro td {
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 2em;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #eee; /* Cor de fundo das cartas (viradas para baixo) */
}
