body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://external-preview.redd.it/6rUg9jvZQG8JGzawc645Jya8MYedLkwBDiN5Yar8h6k.jpg?auto=webp&s=a529f18f56c76951bd2a41a5c3a2c4f1844da1bb");
    background-size: cover;
    width: 100%;
    min-height: 100vh; /* Garante que a imagem cubra toda a altura da tela inicialmente */
    margin: 0; /* Remove margens padrão do body */
}

h1 {
    color: white; /* Texto branco para melhor contraste com a imagem de fundo */
    margin-bottom: 20px;
}

#tabuleiro {
    border-collapse: collapse;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente para a tabela */
    padding: 20px; /* Adiciona um pouco de espaço interno na tabela */
    border-radius: 10px; /* Deixa as bordas da tabela um pouco arredondadas */
}

#tabuleiro td {
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 2em;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #eee;
}
